.home__section {
  color: #fff;
  padding: 160px 0;
}

.home__row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #dcdcdc;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #fff;
}

.dark {
  color: #ff6600;
}

.darkBg {
  background-color: #000;
}

.home__subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__subtitle a {
  color: #ff6600;
  text-decoration: none;
  transition: all ease-out 0.3s;
}
.home__subtitle a:hover {
  font-size: 19px;
}

.customlist {
  counter-reset: li;
  list-style: none; /* Remove default numbering */
  *list-style: decimal; /* Keep using default numbering for IE6/7 */
  font: 15px "trebuchet MS", "lucida sans";
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.customlist li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  *padding: 0.4em;
  margin: 0.5em 0;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3em;
  transition: all 0.3s ease-out;
}

.customlistt li:hover {
  background: #eee;
  cursor: pointer;
}

.customlist li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #ff6600;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.home__img-wrapper {
  max-width: 555px;
}

.home__img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.formular {
  max-width: 555px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  color: #dcdcdc;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #dcdcdc;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-bottom: 3px solid #ff6600;
}

input[type="submit"] {
  padding: 12px 64px;
  font-size: 20px;
  background-color: #fff;
  border: none;
}

input[type="submit"]:hover {
  color: #fff;
  background-color: #ff6600;
  transition: all 0.2s ease-out;
}

.contact-form {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
  display: inline-block;
}

.adresa {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}
.adresa a {
  color: #fff;
  text-decoration: none;
  transition: all ease-out 0.3s;
}
.adresa a:hover {
  font-size: 19px;
  color: #ff6600;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
